<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Casatopia"
        tools:targetApi="31">
        <activity
            android:name="com.tombra.smartpay.ui.DashboardScreen"
            android:exported="false" />
        <activity
            android:name="com.tombra.smartpay.ui.LoginScreen"
            android:exported="true" >



        </activity>
        <activity
            android:name=".user_side.activities.MyPropertiesActivity"
            android:exported="false" />
        <activity
            android:name=".admin_side.activities.Wallet"
            android:exported="false" />
        <activity
            android:name=".admin_side.activities.BACKEND"
            android:exported="false" />
        <activity
            android:name=".admin_side.activities.DocumentsActivity"
            android:exported="false" />
        <activity
            android:name=".user_side.activities.MaintenanceActivity"
            android:exported="false" />
        <activity
            android:name=".admin_side.activities.MaintenanceActivity"
            android:exported="false" />
        <activity
            android:name=".admin_side.activities.MyClientsActivity"
            android:exported="false" />
        <activity
            android:name=".admin_side.activities.MyChatsActivity"
            android:exported="false" />
        <activity
            android:name=".admin_side.activities.MyEstatesActivity"
            android:exported="false" />
        <activity
            android:name=".admin_side.activities.AdminNotifications"
            android:exported="false" />
        <activity
            android:name=".admin_side.activities.AdminProfile"
            android:exported="false" />
        <activity
            android:name=".admin_side.activities.AdminDashboard"
            android:exported="false" />
        <activity
            android:name=".admin_side.activities.ClientProfile"
            android:exported="false" />
        <activity
            android:name=".user_side.activities.AUTHENTICATION_ACCOUNT_TYPE_SCREEN"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".user_side.activities.AUTHENTICATION_LOGIN"
            android:exported="true" />
        <activity
            android:name=".user_side.activities.AUTHENTICATION_SIGNUP"
            android:exported="true" />
        <activity
            android:name=".user_side.activities.MyProperty"
            android:exported="false" />
        <activity
            android:name=".admin_side.activities.MyHome"
            android:exported="true" />
        <activity
            android:name=".user_side.activities.MyHome"
            android:exported="true" />
        <activity
            android:name=".admin_side.activities.ChatWithClient"
            android:exported="false" />
        <activity
            android:name=".admin_side.activities.AdminTransactionDetail"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB_JBmO70RonaNpAzG-86DCzKEZPGFIyrc" />

        <activity
            android:name=".user_side.activities.UserPropertyDetails"
            android:exported="false" />
        <activity
            android:name=".user_side.activities.UserHome"
            android:exported="true" />
        <activity
            android:name=".admin_side.activities.AdminPropertyDetail"
            android:exported="false" />
        <activity
            android:name=".admin_side.activities.AdminHome"
            android:exported="true" />
        <activity
            android:name=".admin_side.activities.UploadProperty"
            android:exported="true" />
        <activity
            android:name=".user_side.activities.AdminProfile"
            android:exported="false" />
        <activity
            android:name=".user_side.activities.Payment"
            android:exported="false" />
        <activity
            android:name=".user_side.activities.FullMap"
            android:exported="false"
            android:label="@string/title_activity_full_map_screen" />
        <activity
            android:name=".user_side.activities.Profile"
            android:exported="false" />
        <activity
            android:name=".user_side.activities.UserDashBoard"
            android:exported="true" />
        <activity
            android:name=".user_side.activities.SearchEstate"
            android:exported="true" />
        <activity
            android:name=".user_side.activities.ChatWithAdmin"
            android:exported="false" />


        <activity android:name="com.tombra.smartpay.ui.DashboardScreen"
            android:exported="false"/>



    </application>

</manifest>